<%- include('./partials/head') %>
<%- include('./partials/nav') %>

<section id="addSec">
    <h2 class="secTitle">Add a new product</h2>
    <hr id="line-short">

    <form action="/add" method="POST">
        <input type="text" name="productName" placeholder="Product-name">
        <input type="text" name="pictureLink" placeholder="Url Picture">
        <input type="text" name="company" placeholder="Company">
        <input type="number" name="price" placeholder= "Price">
        <textarea name="description" id="description" cols="30" rows="6" placeholder="Write your article here..."></textarea>

        <input type="text" name="shopLink" placeholder="Link-shop">

        <input type="submit" value="Add Product">
    </form>
</section>

<hr>
<section id="randomSec">
    <h2 class="secTitle">Random product</h2>

    <%# productData.forEach(product => { %>
        <!-- <figure>
            <a href="/details/<%# product.id %>" target="_blank">
                <img src=<%# product.pictureLink %> alt="">
            </a>
            <figcaption>
                <a class="fig__link" href="/single/<%# product.id %>" target="_blank">
                    <%# product.productName %>
                    <span class="company"><%#product.company %></span>
                </a>
                <p class="price"><%# product.price %></p>
            </figcaption>
        </figure>
     -->
    <%# }) %>






</section>
<%- include('./partials/footer')%>