<%- include('./partials/head') %>
<%- include('./partials/nav') %>

<section id="addedSec">
    <h3>The product has been successfully added!</h3>
    <a href="/">Back to the Homepage</a>
</section>

<%- include('./partials/footer')%>